@charset "UTF-8";

header {
  width: 1200px;
  height: 120px;
  background-color: rgb(252, 88, 88);
}
.main{
    width: 1200px;
    height: 600px;
}
.side {
  background-color: rgb(250, 147, 79);
  width: 300px;
  height: 600px;
  float: left;
}
.content {
  background-color: rgb(255, 243, 80);
  width: 900px;
  height: 600px;float: left;
}

footer {
  width: 1200px;
  height: 100px;
  background-color: rgb(98, 192, 103);
}
