@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
  display: inline-block;
  text-align: center;
  color: aliceblue;
}
.box1 {
  margin: 10px;
  text-align: center;
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  display: inline-block;
}
.box2 {
  margin: 10px;
  text-align: center;
  width: 100px;
  height: 100px;
  background-color: coral;
  display: inline-block;
}
.box3 {
  margin: 10px;
  text-align: center;
  width: 100px;
  height: 100px;
  background-color: cornflowerblue;
  display: inline-block;
}

.k1 {
  margin: 10px;
  width: 100px;
  height: 100px;
  text-align: center;
  background-color: rgb(16, 56, 88);
  color: rgb(233, 143, 198);
  display: inline-block;
}
.k2 {
  margin: 10px;
  width: 200px;
  height: 200px;
  background-color: darkolivegreen;
  text-align: center;
  color: aliceblue;
  display: inline-block;
}
.k3 {
  margin: 10px;
  width: 300px;
  height: 300px;
  background-color: brown;
  text-align: end;
  color: rgb(255, 254, 253);
  display: inline-block;
}
.k4 {
  background-color: aquamarine;
  display: inline-block;
  width: 100px;
  height: 100px;
}
.k5 {
  background-color: rgb(211, 195, 54);
  display: inline-block;
  width: 100px;
  height: 100px;
}
.k6 {
  background-color: rgb(255, 71, 148);
  display: inline-block;
  width: 100px;
  height: 100px;
}

.B1 {
  margin: 10px;
  width: 100px;
  height: 100px;
  background-color: rgb(220, 20, 20);
}
.B2 {
  margin: 10px;
  padding: 37px 5px 5px 5px;
  width: 100px;
  height: 100px;
  background-color: rgb(253, 128, 44);
}
.B3 {
  margin: 10px;
  padding: 25px;
  width: 100px;
  height: 100px;
  background-color: rgb(49, 146, 36);
}
